html {
    box-sizing: content-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    
}

.box {
    border: medium solid #000;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
}

.box-shadow {
    color: #122089;
    font-size: 1.5rem;
    text-align: center;
    /* box-shadow: mov-x mov-y blur-radius spread-blur color inset/outset; */
    box-shadow: 1rem 1rem 1rem 1rem;
    box-shadow: -1rem -1rem 1rem 1rem;
    box-shadow: -1rem -1rem 1rem 1rem #0005;
    box-shadow: -1rem -1rem 1rem 1rem #f00 inset;
    box-shadow: 1rem 1rem 1rem 0.5rem #2287;
    
    /* text-shadow: mov-x mov-y blur-radius color; */
    text-shadow: 1rem 1rem 0.2rem #122089;

}

.box-shadows-multiple {
    font-size: 1.5rem;
    text-align: center;
    box-shadow: -1rem -1rem 1rem 1rem #0005, 1rem 1rem 1rem 1rem #f005 inset;
    
    text-shadow: -1rem -1rem 0.2rem #122089, 1rem 1rem 0.2rem #1222af;

}

.drop-shadow {
    width: 600px;
    height: auto;
}

.drop-shadow img{
    max-width: 100%;
    height: auto;
    /* filter: drop-shadow(mov-x mov-y blur-radius color) */
    filter: drop-shadow(1rem 1rem 1rem #ff00aa);
}

/* Degradados */

.linear-gradient {
    background-image: linear-gradient(#ff0000, #00ff00, #0000ff);
    background-image: linear-gradient(0deg, #ff0000, #00ff00, #0000ff);
    background-image: linear-gradient(20deg, #ff0000, #00ff00, #0000ff);
    background-image: linear-gradient(90deg, #ff0000, #00ff00, #0000ff);
    background-image: linear-gradient(180deg, #ff0000, #00ff00, #0000ff);
    background-image: linear-gradient(to left, #ff0000, #00ff00, #0000ff);
    background-image: linear-gradient(to left bottom, #ff0000, #00ff00, #0000ff);
    background-image: linear-gradient(90deg, #ff0000 30%, #00ff00 60%, #0000ff);
    background-image: linear-gradient(90deg, #ff0000 30%, #00ff00 60%, #0000ff);
    background-image: linear-gradient(90deg, #ff0000 33%, #ffffff 34% 67%, #ff0000 68%);
}

.radial-gradient {
    background-image: radial-gradient(#5500ff, #00ff01, #f10012);
    background-image: radial-gradient(#671245 40%, #049311, #f10012);
    background-image: radial-gradient(circle 4rem,#671245 4%, #049311 20%, #f10012 80%, #ffff12 12%);
    background-image: radial-gradient(circle 100px,#671245 4%, #049311 20%, #f10012 80%, #ffff12);
    background-image: radial-gradient(circle 100px at top,#671245 4%, #049311 20%, #f10012 80%, #ffff12);
    background-image: radial-gradient(circle 100px at bottom,#671245 4%, #049311 20%, #f10012 80%, #ffff12);
    background-image: radial-gradient(circle 100px at bottom left,#671245 33%, #049311 34% 65%, #f10012 66%, #ffff12);
    background-image: radial-gradient(ellipse 100px 50px,#671245 33%, #049311 34% 65%, #f10012 66%, #ffff12);
}

.conic-gradient {
    background-image: conic-gradient(#ff0000, #00ff00, #0000ff);
    background-image: conic-gradient(#ff0000 0% 50%, #00ff00 51% 60%, #0000ff);
    background-image: conic-gradient(from 90deg, #ff0000 0deg 120deg, #00ff00 121deg 240deg, #0000ff 241deg);
}

.repeat-gradient-lineal {
    background-image: repeating-linear-gradient(red 0 10px, green 10px 20px, blue 20px 30px);
    background-image: repeating-linear-gradient(45deg, red 0 10px, green 10px 20px, blue 20px 30px);
    background-image: repeating-linear-gradient(90deg, red 0 10px, green 10px 20px, blue 20px 30px);
}

.repeat-gradient-radial {
    background-image: repeating-radial-gradient(circle 4rem, #11ff00 0 10px, #ff010f 10px 20px, #0000a1 20px);
}

.repeat-gradient-conic {
    background-image: repeating-conic-gradient(red 0 8%, blue 8% 16%, green 16% 20%);
}

.chart-gradient {
    background-image: conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
    border-radius: 50%;
}

.donut-gradient {
    background-image: radial-gradient(white 40%, black 41%, transparent 42%),
    conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
    border-radius: 50%;
}

/* Filtros */

.card {
    border: medium solid rgb(255, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    margin-bottom: 2rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;

}

.filter {

    filter: blur(.25rem);
    filter: blur(.15rem);
  
    filter: brightness(1);
    filter: brightness(.75);
    filter: brightness(.15);
    filter: brightness(.85);
    filter: brightness(1);

    filter: contrast(0.10);
    filter: contrast(0.75);
    filter: contrast(1);

    filter: grayscale(0);
    filter: grayscale(0.50);
    filter: grayscale(1);

    filter: sepia(0);
    filter: sepia(0.75);
    filter: sepia(1);

    filter: hue-rotate(0deg);
    filter: hue-rotate(30deg);
    filter: hue-rotate(60deg);
    filter: hue-rotate(120deg);
    filter: hue-rotate(330deg);

    filter: invert(0);
    filter: invert(1);

    filter: opacity(0);
    filter: opacity(0.25);
    filter: opacity(0.50);
    filter: opacity(1);

    filter: saturate(1);
    filter: saturate(0);
    
    filter: invert(1);
}

.filters-multiple {
    filter: blur(0.15rem) hue-rotate(270deg) opacity(.75) invert(1);
}

.relative {
    position: relative;
}
/* Cuando definimos posicionamiento absoluto, buscará arriba un posicionamiento relativo, sino irá buscando el elemento padre superior que tenga el posicionamiento relativo, y si no encuentra ninguno se posiciona respecto al body de la página */
.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.backdrop-filter,
.backdrop-filter-multiple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.backdrop-filter h4 {
    border-radius: .5rem;
    padding: 2rem;
    font-size: 2rem;
    background-color:#0000a150;
    backdrop-filter: grayscale(1);
    backdrop-filter: sepia(1);
    backdrop-filter: opacity(.5);
    backdrop-filter: hue-rotate(270deg);
    backdrop-filter: blur(0.5rem);
}

.backdrop-filter-multiple h4 {
    border-radius: .5rem;
    padding: 2rem;
    font-size: 2rem;
    background-color:#0000a150;
    backdrop-filter: blur(1rem) hue-rotate(240deg) opacity(.55) invert(0.25);
}

.dark-mode {
    background-color: #fff;
    color: #000;
    filter: invert(1);
}

.dark-mode img {
    filter: invert(1);
}

/* Fusion de imagenes superpuestas */
.blend-modes img {
    mix-blend-mode: normal;
    mix-blend-mode: color;
    mix-blend-mode: color-dodge;
    mix-blend-mode: color-burn;
    mix-blend-mode: screen;
    mix-blend-mode: multiply;
    mix-blend-mode: saturation;
    mix-blend-mode: luminosity;
    mix-blend-mode: hue;
    mix-blend-mode: exclusion;
    mix-blend-mode: difference;
    mix-blend-mode: hard-light;
    mix-blend-mode: soft-light;
    mix-blend-mode: lighten;
    mix-blend-mode: darken;
    mix-blend-mode: overlay;
}

.bg-blend-mode {
    background-image: url(../img/imagen-1.jpg), url(../img/imagen-4.jpg);
    background-size: cover;
    background-blend-mode: normal;
    background-blend-mode: color;
    background-blend-mode: screen;
    background-blend-mode: difference;
    background-blend-mode: lighten;
    background-blend-mode: darken;
    background-blend-mode: multiply;
    background-blend-mode: overlay;
}

.clip-path {
    clip-path: circle();
    clip-path: circle(4rem);
    clip-path: circle(10rem);
    clip-path: circle(15rem at top);
    clip-path: circle(15rem at right);
    clip-path: circle(15rem at right top);
    clip-path: circle(15rem at left bottom);
    clip-path: circle(15rem at 60% 40%);
    
    clip-path: ellipse();
    clip-path: ellipse(15rem 20rem);
    clip-path: ellipse(15rem 20rem at top);
    clip-path: ellipse(15rem 20rem at left);
    clip-path: ellipse(15rem 20rem at left top);
    clip-path: ellipse(15rem 20rem at right bottom);
    clip-path: ellipse(15rem 20rem at 300px 50px);
    clip-path: ellipse(15rem 20rem at 20% 50%);

    clip-path: inset(2rem);
    clip-path: inset(4rem);
    clip-path: inset(4rem 2rem);
    clip-path: inset(4rem 2rem 3rem);
    clip-path: inset(4rem 2rem 3rem 5rem);
    clip-path: inset(4rem round 1rem 2rem 3rem 5rem);

    clip-path: polygon(0 0, 100% 0, 50% 100%);  
}

.shapes {
    border: thick solid black;
    padding: 1rem;
    margin: 0 auto 5rem;
    max-width: 800px;
}

.shapes img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0 50%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.shape-1 {
    margin: 4rem 2rem;
    shape-outside: circle();
    shape-outside: ellipse();
    shape-outside: circle();
    shape-outside: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.shape-2 {
    margin: 4rem 0 4rem 2rem;
    shape-outside: circle();
}

.shape-3 {
    margin: 2rem 8rem 0 0;
    shape-outside: polygon(0% 25%, 34% 0%, 67% 1%, 78% 14%, 77% 44%, 58% 59%, 98% 99%, 0% 99%);
}